.form-group {
    padding: 0 3rem;

    .form-control {
        height: 4rem;
        border-radius: 0.2rem;

        &::placeholder {
            color: #8D9599;
            font-size: 1.4rem;
            font-weight: 300;
        }

        input {
            font-size: 1.6rem;
        }
    }
}
