<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/59e06792-00ab-4502-b70c-cdb41883e612/resourceGroups/sc-test/providers/Microsoft.Web/sites/supportecc</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://supportecc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>supportecc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>supportecc</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$supportecc</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>